@use "../../styles/responsive.scss" as *;

.homepage {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @include sm{
    gap: 80px;
  }

  .homepage-container{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 0px 20px;

    @include sm{
      gap: 60px;
      padding: 0px 10px;
    }
  }

  .bottom-ring-line{
    padding: 0px 20px;
  }
}
